# Tarefa Grupo : Previsão de salários de *hitters* (Major League Baseball)
### Decisão e Aprendizagem Automática

[Link do Dataset](https://www.kaggle.com/datasets/thedevastator/uncovering-the-most-cost-effective-mlb-hitters-o)

Nesta secção explicar as colunas que existem 
o objetivo do dataset
o porque de escolhermos este dataset
outras caracteristicas que achemos importantes

escolhemos dataset para um problema de regressao porque o outro e` classificacao

COMPLETAR ISTO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Em cada uma das seccoes escrever a conclusao ao final daquela iterecao

In [2]:
# Importação das bibliotecas necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

Ingestão de dados

In [3]:
df = pd.read_csv("./MLB Stats.csv") # ver aquela cena do none as false

Visualização dos dados

In [4]:
df.head()

,index,playerID,Player Name,weight,height,bats,throws,Season,League,teamID,...,RBI,SB,BB,SO,salary,IBB,HBP,SH,SF,PA
0,0,aardsda01,David Aardsma,215,75,R,R,2004,NL,SFN,...,0,0,0,0,300000,0,0,0,0,0
1,1,aardsda01,David Aardsma,215,75,R,R,2007,AL,CHA,...,0,0,0,0,387500,0,0,0,0,0
2,2,aardsda01,David Aardsma,215,75,R,R,2008,AL,BOS,...,0,0,0,1,403250,0,0,0,0,1
3,3,aardsda01,David Aardsma,215,75,R,R,2009,AL,SEA,...,0,0,0,0,419000,0,0,0,0,0
4,4,aardsda01,David Aardsma,215,75,R,R,2012,AL,NYA,...,0,0,0,0,500000,0,0,0,0,0

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.corr()

In [ ]:
df.isnull()

Tratamento dos dados

Criação dos modelos